<!DOCTYPE html>

<html lang="ru">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">

    {% block extra_styles %}

    {% endblock extra_styles %}

    <meta charset="UTF-8">

    <title>Title</title>
</head>

<body>

<header class="main-header">
    <menu class="main-menu">
        <li><a class="main-menu-links" href="{{ url_for('index') }}">Загрузка</a></li>
        <li><a class="main-menu-links" href="{{ url_for('align') }}">Разметка</a></li>
        <li><a class="main-menu-links" href="{{ url_for('grid') }}">Верстка</a></li>
    </menu>

    <a href="http://google.com"></a>
</header>


<main class="main-content">
    {% block main %}

    {% endblock main %}
</main>


</body>

</html>