{% extends 'base/base.html' %}
{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">

{% endblock extra_styles %}


{% block main %}

<div class="container">

    <h2>Верстка</h2>

    <form method="post">
        <select name="format" class="format-field">
            <option value="HTML">HTML</option>
            <option value="TMX">TMX</option>
        </select>
        <button class="inline-btn" type="submit">Создать</button>
    </form>

    {% if file_name %}

    <a href="{{ url_for('download_file', filename=file_name) }}" class="download-file inline-btn"><i class="fa-solid fa-download"></i> Скачать файл</a>

    {% endif %}

    {% if file_path %}

    <a href="" class="inline-btn">Предпросмотр</a>

    <div class="preview-file">

        {{ file_content | safe }}

    </div>

    {% endif %}


</div>

{% endblock main %}