{% extends 'base/base.html' %}

{% block main %}

<div class="container">
    <h2>Документы</h2>

    <form action="" method="post" enctype="multipart/form-data">


        <div class="first-file-wrapper">
            <label for="langauge-first">
                <select id="langauge-first" name="langauge-first">
                    <option name="ru" value="ru">Русский</option>
                    <option name="en" value="en">English</option>
                </select>
            </label>
            <label for="file_1">
                <input id="file_1" type="file" name="file_1">
            </label>

        </div>

        <div class="second-file-wrapper">
            <label for="langauge-second">
                <select id="langauge-second" name="langauge-second">
                    <option name="ru" value="ru">Русский</option>
                    <option name="en" value="en">English</option>
                </select>
            </label>
            <label for="file_2">
                <input id="file_2" type="file" name="file_2">
            </label>

        </div>

        <button type="submit">Загрузить</button>

    </form>

</div>

<div class="container">

    <h2>Предпросмотр</h2>
    <div class="file-fields">

        <div class="file-1 file-field">
            <div class="file-field-header">
                <h3 class="file-name">{{ file_1.filename }}</h3>
                <span class="quantity-line">Количество строк: <span>{{ file_1.row_count }}</span></span>
                <span class="quantity-line">Количество символов: <span>{{ file_1.chars_count }}</span></span>
            </div>
            <div class="file-body">
                {% for row in file_1.data %}

                <div class="text-row">

                    <div class="line-count">{{ loop.index }}</div>
                    <div class="line-text"><p>{{ row }}</p></div>

                </div>
                {% endfor %}
            </div>
        </div>

        <div class="file-2 file-field">
            <div class="file-field-header">
                <h3 class="file-name">{{ file_2.filename }}</h3>
                <span class="quantity-line">Количество строк: <span>{{ file_2.row_count }}</span></span>
                <span class="quantity-line">Количество символов: <span>{{ file_2.chars_count }}</span></span>
            </div>
            <div class="file-body">
                {% for row in file_2.data %}
                <div class="text-row">

                    <div class="line-count">{{ loop.index }}</div>
                    <div class="line-text"><p>{{ row }}</p></div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>

</div>

{% endblock main %}